<!-- REGENTS MAX -->

{% extends "base.html" %}

{% block app_content %}
	<style>

	div {
		resize: vertical;
	}
   .col-md-2, .col-md-3 {
    border: 1px solid #000;
  }

	.buttondiv {
  	margin-left: auto;
  	margin-right: auto;
	}

	.col-md-7 {
  	overflow: auto;
	}

	.btn {
		color: #ffffff;
		background-color: pink;
  	border-color: pink;
	}

	.btn-outline-success{
		color: #ffffff;

  	border-color: blue;
	}

	.answers {
		padding-right: 30px;
	}

	.answersdiv {
		display: block;
  	margin-left: auto;
  	margin-right: auto;
		width: 40%;
	}

	.exam_pic {
		display: block;
  	margin-left: auto;
  	margin-right: auto;

	}

	 .short_response {
		display: block;
		margin-left: auto;
		margin-right: auto;

	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.overflow-auto {
		background-color: white;
		margin: 10px;
		padding: 15px;
		box-shadow: 4px 4px 4px lightgrey;
	}


	.big-container {
		background-color: #f9f9f9;
	}


	</style>

<div class="container" >

	<br>
	<br>
	<br>
	<h1> Hi, {{ current_user.username}}! Good Luck!</h1>

	<form action="" method="post">
	<div class="row big-container border border-secondary" id="row q_container" >



			<!-- Change the layout if the question is a short response -->
			<!-- Question #1 -->
			{% if details[0][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 1:</h3>
						<img class="exam_pic" src="{{ details[0][0] }}" style="width:400px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation1(rows='5',cols='140') }}
						</div>

				</div>

			{% else %}

				<div class="row center" id="row1">
					<div class="overflow-auto form-group col-md-7"  style="height: 550px; width:600px">
						<h3>Question 1:</h3>

							<img class="exam_pic" src="{{ details[0][0] }}" style="width:400px">

						<div class="answersdiv">
							<br>
							<br>
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses1 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 550px;">
						<div>
							<h3>Question 1: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation1() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #2 -->
			{% if details[1][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 2:</h3>
						<img class="exam_pic" src="{{ details[1][0] }}" style="height:400px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation1(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row center" id="row2">
					<div class="overflow-auto form-group col-md-7"  style="height: 350px; width:600px;">
						<h3>Question 2:</h3>

							<img class="exam_pic" src="{{ details[1][0] }}" style="width:400px">

						<div class="answersdiv">

							<br>
							<br>
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses2 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 350px;">
						<div>
							<h3>Question 2: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation2() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #3 -->
			{% if details[2][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 2:</h3>
						<img class="exam_pic" src="{{ details[1][0] }}" style="width:400px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation1(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row center" id="row3">
					<div class="overflow-auto form-group col-md-7"  style="height: 350px; width:600px;">
						<h3>Question 3:</h3>

							<img class="exam_pic" src="{{ details[2][0] }}" style="width:400px">

						<div class="answersdiv">
							<br>
							<br>
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses3 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 350px;">
						<div>
							<h3>Question 3: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation3() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #4 -->
			{% if details[3][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 4:</h3>
						<img class="exam_pic" src="{{ details[3][0] }}" style="width:400px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation1(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row center" id="row4">
					<div class="overflow-auto form-group col-md-7"  style="height: 350px; width:600px;">
						<h3>Question 4:</h3>

							<img class="exam_pic" src="{{ details[3][0] }}" style="width:400px">

						<div class="answersdiv">
							<br>
							<br>
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses4 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 350px;">
						<div>
							<h3>Question 4: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation4() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #5 -->
			{% if details[4][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 4:</h3>
						<img class="exam_pic" src="{{ details[4][0] }}" style="width:400px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation1(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row center" id="row5">
					<div class="overflow-auto form-group col-md-7"  style="height: 350px; width:600px;">
						<h3>Question 5:</h3>

							<img class="exam_pic" src="{{ details[4][0] }}" style="width:400px">

						<div class="answersdiv">
							<br>
							<br>
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses5 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 350px;">
						<div>
							<h3>Question 5: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation5() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #6 -->
			{% if details[5][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 6:</h3>
						<img class="exam_pic" src="{{ details[5][0] }}" style="width:400px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation1(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row center" id="row6">
					<div class="overflow-auto form-group col-md-7"  style="height: 350px; width:600px;">
						<h3>Question 6:</h3>

							<img class="exam_pic" src="{{ details[5][0] }}" style="width:400px">

						<div class="answersdiv">
							<br>
							<br>
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses6 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 350px;">
						<div>
							<h3>Question 6: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation6() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #7 -->
			{% if details[6][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 7:</h3>
						<img class="exam_pic" src="{{ details[6][0] }}" style="height:300px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation7(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row center" id="row7">
					<div class="overflow-auto form-group col-md-7"  style="height: 550px; width:600px;">
						<h3>Question 7:</h3>

							<img class="exam_pic" src="{{ details[6][0] }}" style="width:400px">

						<div class="answersdiv">
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses7 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 550px;">
						<div>
							<h3>Question 7: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation7() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #8 -->
			{% if details[7][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 8:</h3>
						<img class="exam_pic" src="{{ details[7][0] }}" style="height:300px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation8(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row" id="row8">
					<div class="overflow-auto form-group col-md-7"  style="height: 550px;">
						<h3>Question 8:</h3>

							<img class="exam_pic" src="{{ details[7][0] }}" style="width:400px">

						<div class="answersdiv">
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses8 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 550px;">
						<div>
							<h3>Question 8: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation8() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #9 -->
			{% if details[8][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 9:</h3>
						<img class="exam_pic" src="{{ details[8][0] }}" style="height:200px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation9(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row" id="row9">
					<div class="overflow-auto form-group col-md-7"  style="height: 550px;">
						<h3>Question 9:</h3>

							<img class="exam_pic" src="{{ details[8][0] }}" style="height:300px">

						<div class="answersdiv">
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses9 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 550px;">
						<div>
							<h3>Question 9: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation9() }}
						</div>
					</div>
				</div>

			{% endif %}

			<!-- Question #10 -->
			{% if details[9][2] == 'yes' %}
				<div class="overflow-auto form-group col-md-12"  style="height: 550px;">
					<h3>Question 10:</h3>
						<img class="exam_pic" src="{{ details[9][0] }}" style="height:300px">

						<div class="short_response" >
							<h4>Explain your answer below</h4>
							{{ form.explanation10(rows='5',cols='150') }}
						</div>

				</div>

			{% else %}

				<div class="row" id="row10">
					<div class="overflow-auto form-group col-md-7"  style="height: 550px;">
						<h3>Question 10:</h3>

							<img class="exam_pic" src="{{ details[9][0] }}" style="width:400px">

						<div class="answersdiv">
							<p><strong> select the correct answer </strong></p>
							<table>
								<tr>
								{% for subfield in form.responses10 %}
										<td class="answers"> {{ subfield }} {{ subfield.label }} </td>
								{% endfor %}
								</tr>
							</table>
						</div>
					</div>

					<div class="form-group col-md-5" id="extended_response_container" style="height: 550px;">
						<div>
							<h3>Question 10: <h3>
							<h4>Explain your answer below</h4>
							{{ form.explanation10() }}
						</div>
					</div>
				</div>

			{% endif %}

		<br>
		<br>
		</div>
		<div class="buttondiv">
			{{ form.final_submit(style="height:60px;width:20%; font-size:20px; background-color:#ffa74d") }}
		</div>
		</form>






	</div>

</div>
<br><br><br><br>

{% endblock %}







			<!-- This is the Bootstrap submit form

			<form action="" method="post">
				<div class="form-group row border border-secondary" id="questions">
					<div id="q_container">
						<div class="form-group col-md-7" id="regent_q">
							<img src="https://exampics.s3.us-east-2.amazonaws.com/LE_J_2019_L1_Q81.png" style="width:600px">

							<p> Below are the options to select the correct answer </p>
							<div class="form-group btn-group btn-group-toggle" data-toggle="buttons">
	  						<label class="btn btn-secondary active">
	    						<input type="radio" name="options" id="option1" checked> 1
	  						</label>
	  						<label class="btn btn-secondary">
	    						<input type="radio" name="options" id="option2"> 2
	  						</label>
	  						<label class="btn btn-secondary">
	    						<input type="radio" name="options" id="option2"> 3
	  						</label>
								<label class="btn btn-secondary">
	    						<input type="radio" name="options" id="option4"> 4
	  						</label>

									<input type="button" name="final_submit"> Submit answers
							</div>

						</div>

						<div class="form-group col-md-5" id="extended_response_container">
							<div id="extended_response_prompt">
								<h3>Explain your answer to the question below<h3>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
							</div>
						</div>
					</div>
				</form>
				 -->
